body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

}
#container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: black;
   
}
.display {
    background-color: black;
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 72px;
    padding: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
button{
    border: black solid;
    font-size: 18px;
    font-weight: bold;
}

.operator {
    background-color: #ff9404;
    color: #fbfbfc;
}
.operator_hover{
    background-color: #fbc78d;
}
.operator_click{
    background-color: #fbfbfc;
    color: #ff9404;
}



.num {
    background-color: #333333;
    color: white;
}
.num_hover {
    background-color: #737373;
}

 .symbol {
    background-color: #a5a5a5;
    color: black;
}
 .symbol_hover {
    background-color: #d9d9d9;
}